
/*body.background{*/
    /*color: #0b2e13;*/
/*}*/

span.dots {
  color: gray;
}

table#dataView {
  width: 80%;
}

table.dataFields {
  padding-left: 5em;
}

tr.hidden {
  visibility: collapse;
}

tr.warning {
  background-color: #ffc890;
}

th.signal-type {
  min-width: 50px;
}

th.signal-sender {
  min-width: 50px;
}

th.signal-name {
}

th.signal-frequency {
  min-width: 50px;
}

th.signal-timestamp {
  min-width: 100px;
}

td.field-name {
  min-width: 200px;
}

td.field-plot {
  min-width: 300px;
}

td.field-value {
}

/*
* Kendo Car Dashboard Style
*/

#gauge-container {
  margin: 0 auto;
  overflow: hidden;
  width: 614px;
  height: 324px;

  background: transparent url("../car-dashboard.png") no-repeat 50% 50%;
}

.k-gauge {
  float: left;
}

#rpm {
  width: 142px;
  height: 147px;
  margin: 85px 0 0 38px;
}

#kmh {
  width: 216px;
  height: 216px;
  margin: 57px 0 0 20px;
}

#fuel {
  width: 77px;
  height: 84px;

  margin: 90px 0 0 68px;
}

#water-temprature {
  width: 84px;
  height: 80px;

  margin: -7px 0 0 62px;
}
